<div class="container">

  <div class="row">
    <div class="col">
      <div class="title-container text-center">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-6 col-12">
        <app-custom-list
          customTitle="Things that I like"
          [customList]="['Manga']"
        ></app-custom-list>
    </div>
    <div class="col-sm-6 col-12">
        <app-custom-list
          customTitle="Things that I hate"
          [customList]="[]"
        ></app-custom-list>
    </div>
  </div>

  <hr>

  <app-form></app-form>

</div>